.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5); */
    transition: 0.3s;
    border-radius: 30px;
    width: 100%;
    margin: 0;
    
    
        
  }
  
  /* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
.container {
    /* margin-top: 10px; */
    /* padding: 20px 16px; */
    width: 100%;
    display: flex;
    overflow:visible;
    align-items: center;
    justify-content: space-around;
    
  }

.container img {
    height: 50px;
    /* padding: 10px; */
    
    
    
  }    

  .card li {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 5px;
  }

  .item {
    display: flex;
    align-items: center;

  }

  .container button {
    background-color: black;
    color: white;
  }

  .container input {
    width: 30px;
    
    
  }

  .quantity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    
  }

 